<div class="searchbar">
  <md-content>
    
    <md-input-container class="md-block">
      <label></label>
      <input ng-model="search" aria-label="Search for rooms" ng-class="{'solid': results.length > 0}" placeholder="Search for {{categoryReadable}}..."></input>
      <!-- Display progress when searching -->      
      <div class="loading-search" ng-show="searching">
        <md-progress-circular class="md-progress-default" md-mode='indeterminate' md-diameter="20"></md-progress-circular>
      </div>
    </md-input-container>
    
    <!-- Search Results here -->
    <div ng-if="results.length > 0" class="results md-whiteframe-4dp">
      <md-divider></md-divider>
      <md-list>
        <md-list-item ng-repeat="result in results" ng-click="goTo(result._source.nodeId, $event)">
          <p>{{result._source.title}}</p>
        </md-list-item>
      </md-list>
    </div>
    
  </md-content>
</div>