<div>
  
  <div ng-class="{'boo': count > 0}" ng-click="openNav()" class="notifications ghost fadey">
    <i class="icon icon-bell ding" data-count="{{count}}" ng-class="{'ring': ring, 'two-digits': count > 9}">
      <md-tooltip>You have {{count}} unread Notifications</md-tooltip>
    </i>
  </div>

  <md-sidenav md-component-id="notifications-nav" class="bg-black md-sidenav-right md-whiteframe-z1" layout="column" flex>
    
    <md-content layout="column">
      <div class="sidenav-header">
        <span class="float-left">Notifications</span>
        <span class="float-right pointer">
          <i class="icon icon-bomb" ng-click="dismissAll()"></i>
        </span>
      </div>
    </md-content>
    
    <md-content layout="column" flex>
      <md-button ng-repeat="n in notifications" ng-click="go(n.id)">
        <div class="timestamp" my-time="{{n.timestamp}}"></div>
        <!-- Todo icon -->
        <span ng-show="n.type == 0">There are new replies to your comment <span>"{{n.where}}"</span>.</span>
        <span ng-show="n.type == 1">Foo</span>
      </md-button>
    </md-content>
    
  </md-sidenav>

</div>
  



