@import '_variables';

.bg-black {
  background-color: $co_darkblack;
}

.bg-lightgrey {
  background-color: $co_lightgrey;
}

.bg-white {
  background-color: $co_white;
}

.bg-verylightgrey {
  background-color: $co_verylightgrey;
  color: $co_grey;
}

.bg-red {
  background-color: $co_red;
}

.bg-blue {
  background-color: $co_blue;
}

.bg-yellow {
  background-color: $co_yellow;
}

.bg-green {
  background-color: $co_green;
}

.bg-purple {
  background-color: $co_purple;
}

.bg-orange {
  background-color: $co_orange;
}

.gradient {
  background: $co_red; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, $co_red , $co_orange); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, $co_red , $co_orange); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.hover-white {
  transition: background $dur_fade;
  &:hover, 
  &:active {
    background-color: $co_white;
  }
}


