@import '_variables';

// Generic containers

.content {
  position: relative;
  width: 100%;
  max-width: $dim_content;
  margin: 0 auto;
}

.featured {
  height: $dim_feature;
  z-index: 3;
  // overflow: hidden !important;
  .node-title {
    span {
      color: $co_white;
    }
    .displayName {
      font-weight: 700;
    }
  }
  .breadcrumb {
    position: absolute;
    left: 0;
    width: 16px;
    height: $dim_feature;
    text-align: center;
    .crumbs {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      i.icon {
        display: block;
        margin: 14px 0;
        padding: 0 5px;
        color: $co_white;
        font-size: 7px;
        opacity: 0.35;
        transition: opacity 100ms;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
  .content {
    padding-left: 25px;
    padding-right: 25px;
  }
  button {
    position: absolute;
    bottom: 5px;
    right: 25px;
  }
  a {
    color: $co_white;
    &:active,
    &:visited {
      color: $co_white;
    }
  }
}

.non-featured {
  padding-top: $dim_feature + 25px;
  .node {
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 25px;
    background-color: $co_white;
    border-radius: 4px;
    // border-top: 1px solid rgba(0,0,0,0.05);
    // border-left: 1px solid rgba(0,0,0,0.1);
    // border-right: 1px solid rgba(0,0,0,0.1);
  }
}

.node {
  position: relative;
  .node-text, 
  .node-actions,
  .node-title {
    margin: 0;
  }
  p {
    margin: $dim_spacer 0;
    overflow: hidden;
    word-break: break-all;
  }
  .node-avatar {
    position: absolute;
    height: 36px;
    width: 36px;
    border: 3px solid $co_white;
    box-shadow: 0px 2px 0px rgba(0,0,0,0.25);
    cursor: pointer;
    overflow: hidden;
    border-radius: 50%;
    top: 17px;
    left: -18px;
    img {
      width: 100%;
    }
  }
  .node-text {
    p {
      position: relative;
      background-color: transparent;
    }
  }
}

.node.parent {
  position: static;
  height: $dim_node;
  padding-bottom: 10px;
  margin-right: -25px; // for the scrollbar
}

.node.child {
  padding-top: 25px;
  padding-bottom: 50px;
  .node-title {
    padding-bottom: 5px;
    // border-bottom: 1px solid $co_lightgrey;
    span {
      margin-right: 2.5px;
    }
    .displayName {
      font-weight: 700;
      color: $co_black;
    }
    .description {
      color: $co_grey;
    }
    .timestamp {
      color: $co_grey;
    }
  }
  i {
    font-size: 1em;
    color: $co_darkgrey;
  }
  .node-actions {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding-left: 25px;
    padding-right: 25px;
    line-height: 42px;
    // background-color: $co_lightgrey;
  }
}

.node.child.boo {
  position: relative;
}

.level-up {
  position: absolute;
  z-index: 2;
  color: $co_white;
  padding: 20px;
  font-size: 1.5em;
  line-height: 1.5em;
  left: 50%;
  transform: translateX(-50%);
  i.icon {
    opacity: 0.15;
    transition: opacity 200ms;
    padding: 1px;
    &:hover {
      opacity: 1;
    }
  }
}

.dialog {
  z-index: 4;
}

.reply-container {
  height: $dim_feature;
}

.toolbar {
  top: 225px;
  z-index: 3;
  height: 50px;
  line-height: 50px;
  color: $co_white;
}

.birdyard-avatar {
  position: fixed;
  display: block;
  top: 20px;
  right: 25px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  overflow: hidden;
  z-index: 4;
  img {
    height: 30px;
  }
}

.roomlist {
  padding-top: 25px;
}

.jumbotron {
  position: relative;
  display: block;
  overflow: hidden;
  height: $dim_feature;
  z-index: 1;
}

.timestamp {
  display: block;
  margin-bottom: 5px;
}

.quick-auth {
  p, i, h2 {
    color: $co_black;
    display: block;
    text-align: center;
  }
  i {
    margin-top: 35px;
    color: $co_black;
    font-size: 4em;
    cursor: pointer;
    &:hover, &:active {
      color: $co_purple;
    }
  }
}

.icon-reply-container {
  
  position: absolute;
  top: 20px;
  left: 25px;
  padding-left: 7px;
  border-radius: 2px;
  background-color: $co_lightgrey;
  
  @include raised(2px);
  
  i.icon {
    font-size: 1.1em;
    color: $co_black;
    padding-right: 7px;
    padding-top: 7px;
    padding-bottom: 4px;
    
    &:hover {
      color: $co_extradarkblack;
    }
  }
  
  span.separator {
    width: 4px;
    padding: 2px 0;
    margin: 0 2px;
    background-color: transparent;
    display: inline-block;
  }
  
  .icon-reply-menu {
    position: absolute;
    display: block;
    top: 26px;
    background-color: $co_lightgrey;
    border-radius: 2px;
    font-weight: 700;
    
    @include raised(3px);
    
    .icon-reply-menu-item {
      padding: 2px 8px;
      cursor: pointer;
    }
    
    .icon-reply-menu-header {
      text-transform: uppercase;
      padding-left: 8px;
      padding-right: 8px;
      line-height: 36px;
      background-color: $co_lightgrey;
      border-bottom: 1px solid $co_grey;
    }
  }
  
  #reply-headers {
    left: 0px;
  }
  
  #reply-recentLinks {
    left: 75px;
    max-width: 250px;
    max-height: 300px;
    overflow-y: scroll;
    
    div {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

.reply-textarea {
  position: fixed;
  width: 100%;
  max-width: $dim_content;
  max-height: 270px;
  padding-right: 50px;
}

.thumbnail {
  position: relative;
  display: block;
  clear: both;
  height: 150px;
  width: 150px;
  overflow: hidden;
  
  &:after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: $co_white;
    opacity: 0.2;
    font-size: 48px;
    font-family: 'FontAwesome';
    content: '\f144';
    cursor: pointer;
    pointer-events: none !important;
    padding: 1px;
    text-shadow: 0px 3px 0px rgba(0,0,0,0.75);
  }
  
  &:hover:after {
    opacity: 1;
  }
  
  img {
    position: absolute;
    display: inline-block;
    border-radius: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 150px;
    max-height: 150px;
    min-height: 60px;
    min-width: 60px;
    border: 3px solid $co_lightgrey;
    cursor: pointer;
  }
}

// Ruler

.load-more {
  display: block;
  position: relative;
  width: 100%;
  margin: 100px 0;
  overflow: visible;
  // Circle
  div {
    position: absolute;
    background-color: $co_verylightgrey;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 125px;
    width: 125px;
    border: 3px solid $co_black;
    color: $co_black;
    border-radius: 50%;
    transition: border $dur_fade, color $dur_fade, background $dur_fade;
    
    &:hover {
      cursor: pointer;
      border-color: $co_purple;
      color: $co_purple;
      background-color: $co_white;
    }
    
    // Text
    span {
      display: block;
      position: absolute;
      width: 100%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 0.85em;
      font-weight: 700;
      text-align: center;
    }
  }
}

.nothing-here {
  margin-top: 25px;
  text-align: center;
  height: auto;
  
  p {
    text-align: center;
    font-size: 1.25em;
    margin-bottom: 25px;
  }
  
  .md-button {
    background-color: $co_white;
    font-size: 2em;
    padding: 8px 15px;
    overflow: hidden;
    line-height: 2em;
  }
}

.nothing-here:not(.boo) {
  overflow: hidden;
  height: 0;
  margin: 0;
}

.container-logo {
  position: fixed;
  top: 10px;
  left: 25px;
  margin: 0;
  padding: 0;
  z-index: 4;
  height: 60px;
  
  img {
    height: 100%;
  }
}

blockquote {
  padding: 5px 10px;
  background-color: $co_lightgrey;
  border-left: 5px solid $co_grey;
  border-radius: 2px;
  margin-right: 25px;
}

.featured {
  blockquote {
    background-color: rgba(240, 240, 240, 0.2);
    border-left: 5px solid rgba(240, 240, 240, 0.8);
  }
}

.container-404 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  overflow: hidden;
  width: 90%;
  margin: 0 auto;
  
  background: url(../images/logo.png);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: top right;
  back
  
  h1, h2 {
    font-weight: 700;
    color: $co_black;
  }
  
  h1 {
    font-size: 8em;
  }
  
  h2 {
    color: $co_white;
    text-shadow: 1px 1px 0px $co_black;
  }
}

.container-room {
  position: relative;
  display: block;
  overflow: hidden;
  background-color: $co_white;
  border-radius: 4px;
  margin-bottom: 20px;
  
  // border-bottom: 4px solid rgba(0,0,0,0.3);
  
  .room-content {
    padding: 15px;
  }
  
  .room-enter {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 25%;
    max-width: 125px;
    
    i {
      position: absolute;
      font-size: 2.5em;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    
    &:hover {
      background-color: $co_lightgrey;
    }
  }
  
  .room-name {
    font-size: 0.85em;
    padding-bottom: 15px;
  }
  
  .room-title {
    font-weight: 700;
    font-size: 2em;
  }
}

// Category stuff

.pill {
  padding: 3px 9px;
  border-radius: 25px;
  text-transform: lowercase;
  background-color: $co_yellow;
  color: $co_white;
  font-weight: bold;
  font-size: 0.8em;
  cursor: pointer;
  @include raised(2px);
}