@import '_variables';

.sidenav-header {
  line-height: 2em;
  padding: 6px 10px;
  background-color: $co_verylightgrey;
  color: #333;
}

.rooms-header {
  position: absolute;
  top: -100px;
  color: $co_white;
  font-weight: 400;
  font-size: 2.5em;
  z-index: 2;
  
  text-shadow: 2px 2px 0px rgba(0,0,0,0.25);
  
  md-input-container {
    padding-top: 0;
    padding-bottom: 4px;
  }
  md-select {
    display: inline-block;
    margin-left: 7px;
    width: 100%;
    min-width: 232px;
  }
  .md-select-icon {
    display: none;
  }
  .md-select-value {
    display: inherit;
    color: $co_white !important;
    border-color: transparent !important;
    transition: color $dur_fade;
    span:not(.md-select-icon) {
      border-bottom: 2px solid $co_white !important;
    }
  }
}