@import '_variables';

.pointer {
  cursor: pointer;
}

.solid {
  opacity: 1 !important;
}

.strong {
  font-weight: 700;
}

.ghost {
  z-index: -1;
  opacity: 0;
}

.ghost.boo {
  opacity: 1;
  z-index: 2;
}

.invisible {
  opacity: 0 !important;
}

.notifications.ghost.boo {
  z-index: 4;
}

.keep {
  opacity: 1 !important;
  z-index: 1;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.fadey {
  transition: opacity $dur_fade;
}

.fadey-slow {
  transition: opacity $dur_fade_slow;
}

.subtle {
  background-color: transparent;
  opacity: 0.6;
  transition: opacity $dur_fade, background $dur_fade, color $dur_fade;
  transition-delay: $dur_fade / 2;
  &:hover {
    color: $co_black;
    background-color: $co_white;
    opacity: 1;
  }
}

.small {
  font-size: 0.75em;
}

.link {
  cursor: pointer;
  &:hover,
  &:active {
    text-decoration: underline;
  }
}

.strong {
  font-weight: 700;
}

.gradient-bottom {
  background-image: linear-gradient(rgba(255,255,255,0.0), rgba(0,0,0,0.15));
}

.top {
  padding-top: 50px;
}

.truncate-featured {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 4;
  height: 40px;
  background: linear-gradient(to bottom, rgba(255,255,255,0.0) 0%,$co_purple 100%);
  pointer-events: none !important;
}

.truncate-featured.top {
  background: linear-gradient(to top, rgba(255,255,255,0) 0%, $co_purple 100%);
  top: 0;
  bottom: initial;
}

.scroll {
  overflow-y: scroll;  
}

.hoverscroll {
  overflow-y: hidden;
  &:hover, &:active {
    overflow-y: scroll;
  }
}

.noscroll {
  overflow-y: hidden !important;
}

.padding-top {
  padding-top: 55px;
}

.loading {
  position: fixed;
  display: block;
  z-index: 1;
  top: 300px;
  text-align: center;
  width: 100%;
  max-width: $dim_content;
}

.stretch-x {
  width: 100%;
}

.stretch-y {
  height: 100%;
}

.no-overflow {
  overflow: hidden;
}

.grow {
  height: 0px;
  width: 0px;
  transition: all .2s ease-in-out; 
}

.grow:hover { 
  transform: scale(1.1); 
}

.backdrop {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: none;
  // background-color: rgba(0,0,0,1);
  // opacity: 0.1;
  &.active {
    display: block;
  }
}

.hover-yellow {
  // background: inherit;
  // color: inherit;
  
  &:hover, 
  &:active {
    background-color: $co_yellow !important;
    color: $co_white;
  }
}

.hover-red {
  // background: inherit;
  // color: inherit;
  
  &:hover, 
  &:active {
    background-color: $co_red !important;
    color: $co_white;
  }
}

.hover-green {
  // background: inherit;
  // color: inherit;
  
  &:hover, 
  &:active {
    background-color: $co_green !important;
    color: $co_white;
  }
}

.hover-orange {
  // background: inherit;
  // color: inherit;
  
  &:hover, 
  &:active {
    background-color: $co_orange !important;
    color: $co_white !important;
  }
}

.hover-blue {
  // background: inherit;
  // color: inherit;
  
  &:hover, 
  &:active {
    background-color: $co_blue !important;
    color: $co_white;
  }
}

.hover-purple {
  // background: inherit;
  // color: inherit;
  
  &:hover, 
  &:active {
    background-color: $co_purple !important;
    color: $co_white;
  }
}

.jumbo {
  font-size: 16px;
}