@import '_variables';

i.icon.btn {
  @include raised_font(3px);
}

i.icon.reply {
  position: absolute;
  top: 20px;
  right: 25px;
  z-index: 2;
  font-size: 2em;
  color: $co_white;
  padding-left: 1px;
}

i.icon.fa-times-circle {
  color: $co_black;
}

i.icon.comment-count {
  font-size: 18px;
  color: $co_darkgrey;
}

i.icon.comment-count:after {
  position: absolute;
  color: $co_white;
  content: attr(data-commentcount);
  font-size: 10px;
  left: 31px;
  padding-top: 3px;
  font-weight: 400;
}

i.icon.one-digit.comment-count {
  color: $co_purple;
}

i.icon.one-digit.two-digits.comment-count {
  color: $co_orange;
  font-size: 20px;
  &:after {
    padding-top: 4px;
    left: 28.5px;
  }
}

i.icon.one-digit.two-digits.three-digits.comment-count {
  color: $co_red;
  font-size: 24px;
  &:after {
    padding-top: 7px;
    left: 27.5px;
  }
}

i.show-more {
  position: absolute;
  top: 275px;
  right: 25px;
  z-index: 2;
  font-size: 1.5em;
  color: $co_white;
  cursor: pointer;
}

.notifications {
  position: fixed;
  top: 20px;
  right: 80px;
  z-index: 5;
  padding: 0;
  margin: 0;
  height: 30px;
  width: 30px;
  cursor: pointer;
  i {
    color: $co_purple;
    font-size: 30px;
    text-shadow: 0px 0px 1px $co_verylightgrey;
    &:after {
      position: absolute;
      color: $co_white;
      content: attr(data-count);
      font-size: 12px;
      left: 11px;
      padding-top: 3px;
      font-weight: 700;
      top: 6px;
    }
  }
  i.two-digits {
    &:after {
      font-size: 10px;
      left: 8px;
    }
  }
}

// Markdown

.featured {
  .markdown-reply {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    height: 275px;
    width: 100%;
    .markdown-icon {
      position: absolute;
      z-index: 4;
      bottom: 5px;
      right: 5px;
      color: $co_lightgrey;
      display: block;
      width: 24px;
      cursor: pointer;
      img {
        width: 100%;
      }
    }
  }
}
