@import '_variables';

// Angular Material overrides

md-input-container {
  
  padding-left: 0;
  padding-right: 0;
  
  .md-input {
    padding-top: 4px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
  }
  
  .md-input.jumbo {
    font-size: 1.5em;
    color: $co_black;
  }
  
  .md-input:not(.borders) {
    border-color: rgba(255,255,255,0) !important;
  }
  
  .md-input.borders {
    border-color: $co_darkgrey !important;
    border-width: 0 0 2px 0;
  }
  
  .md-input[disabled] {
    background-image: none !important;
  }
  
  button, 
  input, 
  textarea {
    font-family: 'Hind', 'san-serif' !important;
    color: $co_extradarkblack !important;
    font-weight: 500 !important;
  }
  
  label {
    font-family: 'Hind', 'san-serif' !important;
    color: $co_darkgrey !important;
    font-weight: 500 !important;
    font-size: 17.5px;
    top: -5px;
  }
  
  label:not(.md-no-float) {
    padding-left: 0;
  }
  
  .md-icon-float { 
    label {
      margin-left: 0;
    }
  }
}

md-switch {
  width: 36px;
  margin-top: 9px;
  margin-right: 25px !important;
  .md-container {
    margin-right: 0px !important;
  }
}

.layout-padding {
  padding: 16px;
}

md-backdrop,
md-sidenav {
  position: fixed;
}

md-sidenav {
  border-left: 4px solid rgba(0,0,0,0.35);
  width: 90%;
  max-width: 450px;
  background-color: $co_white;
  md-content {
    background-color: transparent;
    overflow: initial;
  }
  .md-button {
    display: block;
    width: 100%;
    text-transform: none;
    text-align: left;
    color: $co_darkblack;
    border-radius: 4px;
    margin-top: 10px;
    padding: 10px;
    border-bottom: 3px solid $co_verylightgrey;
    line-height: 1.25em;
    font-size: 0.8em;
    white-space: normal;
    word-wrap: break-word;
    
    &:hover, 
    &:active {
      background-color: $co_lightgrey;  
    }
  }
}

.md-button {
  margin-left: 0;
  margin-right: 0;
}

md-progress-circular {
  display: inline-block;
}