@import '_variables';

.searchbar {
  position: absolute;
  display: block;
  width: 100%;
  top: 227px;
  // bottom: 0;

  md-content {
    background-color: transparent;
    overflow: visible;
  }
  
  md-input-container {
    padding-bottom: 0;
    
    input {
      display: inline-flex;
      padding-left: calc((100% - #{$dim_content}) / 2);
      padding-right: calc((100% - #{$dim_content}) / 2 + (30px));
      line-height: 48px;
      border-width: 0 !important;
      background-color: $co_white;
      opacity: 0;
      transition: opacity $dur_fade;
      font-size: 1.5em;
      line-height: 2em;
      
      &:focus {
        opacity: 1;
      }
      
      &:after {
        position: absolute;
        left: 0;
        font-family: 'FontAwesome';
        content: '\f002';
      }
    }
  }
  
  md-list {
    padding: 0;
  }
  
  .results {
    background-color: $co_white;
    width: 100%;
    max-width: $dim_content;
    margin-left: auto;
    margin-right: auto;
    margin-top: -1px;
    border-top: 4px solid rgba(0,0,0,0.1);
  }
}

.searchbar-placeholder {
  position: absolute;
  display: block;
  width: 100%;
  z-index: 0;
  bottom: 0px;
  color: $co_extradarkblack;
  font-weight: 500;
  font-size: 1.5em;
  line-height: 2em;
  i, span {
    opacity: 0.3;
  }
}

.loading-search {
  position: absolute;
  top: -25px;
  right: calc((100% - #{$dim_content}) / 2 - (30px));
  z-index: 2;
}