@import '_variables';

.searchbar {
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0;

  md-content {
    background-color: transparent;
    overflow: visible;
  }
  
  md-input-container {
    padding-bottom: 0;
    
    input {
      padding-left: calc((100% - #{$dim_content}) / 2);
      padding-right: calc((100% - #{$dim_content}) / 2);
      line-height: 48px;
      border-width: 0 !important;
      background-color: $co_white;
      opacity: 0;
      transition: opacity $dur_fade;
      font-size: 2em;
      line-height: 1.75em;
      &:focus {
        opacity: 1;
      }
    }
  }
  
  md-list {
    padding: 0;
  }
  
  .results {
    background-color: $co_white;
  }
}

.searchbar-placeholder {
  position: absolute;
  display: block;
  width: 100%;
  z-index: 0;
  bottom: 0px;
  color: $co_extradarkblack;
  font-weight: 400;
  font-size: 2em;
  line-height: 1.75em;
  i, span {
    opacity: 0.1;
  }
}

.loading-search {
  position: absolute;
  top: -22px;
  right: -27px;
  z-index: 2;
}