@import '_variables';

// Headings

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1.12em;
}

h1.birdyard-logo {
  position: fixed;
  top: 20px;
  left: 25px;
  font-family: 'JungleFever', sans-serif;
  color: $co_white;
  margin: 0;
  padding: 0;
  z-index: 4;
}

// Featured

.featured {
  p {
    color: $co_white;
  }
}

// Colors

.co-white {
  color: $co_white !important;
}

.co-grey {
  color: $co_grey !important;
}

.co-black {
  color: $co_black !important;
}

.co-purple {
  color: $co_purple !important;
}

.co-red {
  color: $co_red !important;
}

.co-yellow {
  color: $co_yellow !important;
}

.co-seethrough {
  color: rgba(255,255,255, 0.6) !important;
}

// Font weights

.weight-normal {
  font-weight: 500 !important; 
}

.weight-bold {
  font-weight: 700 !important;
}
