/////////////////////////////////////////////////////////////////////////////////////////////
// COLORS //////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////

$co_white: #fff;
$co_verylightgrey: rgb(249, 250, 251);
$co_lightgrey: #ecf0f1;
$co_grey: #ccc;
$co_darkgrey: #999;
$co_black: #666;
$co_darkblack: #333;
$co_extradarkblack: #000;

// Accent colors

$co_red: #e74c3c;
$co_yellow: #f8ca00;
$co_blue: #4892e7;
$co_green: #2ecc71;
$co_purple: #ab69c6;
$co_orange: #f69e11;

/////////////////////////////////////////////////////////////////////////////////////////////
// DIMENSIONS //////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////

$dim_content: 850px;
$dim_feature: 275px;
$dim_node: 275px;
$dim_spacer: 10px;
$dim_thumbnail: 300px;

/////////////////////////////////////////////////////////////////////////////////////////////
// DURATION ////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////

$dur_fade: 300ms;
$dur_fade_slow: 600ms;

////////////////////////////////////////////////////////////////////////////////////////////
// MIXINS /////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////

@mixin card() {
  background: $co_white;
  padding: 5px;
  @include border(1px);
}

@mixin border($width) {
  border-style: solid;
  border-radius: 2px;
  border-top-width: $width;
  border-right-width: $width;
  border-bottom-width: $width;
  border-left-width: $width;
  border-color: rgba(0,0,0,0.1);
}

@mixin raised($thickness) {
  border-bottom: $thickness solid rgba(0,0,0,0.3) !important;
  &:active {
    border-bottom: none !important;
  }
}

@mixin raised_font($thickness) {
  text-shadow: 0px $thickness 0px rgba(0,0,0,0.3) !important;
  &:active {
    text-shadow: none !important;
  }
}