/////////////////////////////////////////////////////////////////////////////////////////////
// COLORS //////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////

$co_white: #fff;
$co_verylightgrey: rgb(249, 250, 251);
$co_lightgrey: #ecf0f1;
$co_grey: #ccc;
$co_darkgrey: #999;
$co_black: #666;
$co_extradarkblack: #000;

// Accent colors (Flat UI colors)

$co_turquoise: #1abc9c;
$co_emerald: #2ecc71;
$co_green: #27ae60;
$co_lightblue: #3498db;
$co_blue: #2980b9;
$co_midnightblue: #2c3e50;
$co_purple: #9b59b6;
$co_darkpurple: #8e44ad;
$co_wine: #AA076B;
$co_darkred: #c0392b;
$co_red: #ef3e36;
$co_darkorange: #d35400;
$co_carrot: #e67e22;
$co_orange: #f39c12;
$co_yellow: #f1c40f;

/////////////////////////////////////////////////////////////////////////////////////////////
// DIMENSIONS //////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////

$dim_standard: 850px;
$dim_feature: 275px;
$dim_node: 275px;
$dim_spacer: 10px;
$dim_thumbnail: 300px;

/////////////////////////////////////////////////////////////////////////////////////////////
// DURATION ////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////

$dur_fade: 300ms;

////////////////////////////////////////////////////////////////////////////////////////////
// MIXINS /////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////

@mixin card() {
  background: $co_white;
  padding: 5px;
  @include border(1px);
}

@mixin border($width) {
  border-width: $width;
  border-style: solid;
  border-radius: 2px;
  border-color: rgba(0,0,0,0.1);
}