@import 'borders-shadows';
@import 'duration';
@import 'mixins';
@import 'dimensions';

// Menu

.bbop-menu-wrapper {
  position: fixed;
  display: block;
  top: 14px;
  right: 25px;
  overflow: visible;
  z-index: 4;
  
  .bbop-menu-btn {
    height: 36px;
    border-radius: 2px;
    color: $co_white;
    border: 1px solid $co_white;
  }

  .bbop-menu {
    position: fixed;
    right: 25px;
    opacity: 0;
    z-index: -1;
    transition: opacity $dur_fade;
    width: 200px;
    background: $co_white;
    border-radius: 2px;
    margin-top: 10px;
    
    &:before {
      content: ' ';
      position: fixed;
      top: 47px;
      right: 32px;
      width: 0; 
	    height: 0;
	    border-left: 9px solid transparent;
	    border-right: 9px solid transparent;
	    border-bottom: 9px solid $co_white;;
    }
     
    &.show {
      opacity: 1;
      z-index: 99999;
    }
      
    .bbop-menu-item {
      padding: 5px 10px;
      line-height: 24px;
    }
  }
}

// Avatar

.bbop-avatar-sm {
  display: block;
  height: 30px;
  width: 30px;
  border: 1px solid $co_white;
  border-radius: 50%;
  overflow: hidden;
  transition: border $dur_fade;
  
  &:hover {
    border: 1px solid $co_yellow;
  }
  
  img {
    height: 100%;
  }
}

.bbop-avatar-lg {
  width: 45px;
  height: 45px;
  margin: 18px 5px 0 16px;
  background: #000;
  border-radius: 50%;
  overflow: hidden;
  img {
    height: 100%;
  }
}

// Lightbox

.lightbox-wrapper {
  display: block;
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.35);
  z-index: -1;
  
  transition: opacity $dur_fade;
  
  &.show {
    opacity: 1;
    z-index: 9999999;
  }
  
  .lightbox {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 150px auto 0;
    width: 400px;
    padding: 5px;
    background-color: $co_white;
    @include border(1px);
    
    img {
      width: 100%;
    }
  }
}

// Rooms

.bbop-room {
  @include card();
  margin-bottom: $dim_spacer;
}