@import 'dimensions';
@import 'colors';
@import 'duration';

// Generic containers

.content {
  position: relative;
  width: 100%;
  max-width: $dim_standard;
  margin: 0 auto;
}

.featured {
  height: $dim_feature;
  z-index: 2;
  overflow: hidden !important;
  .breadcrumb {
    position: absolute;
    left: 0;
    width: 16px;
    height: $dim_feature;
    text-align: center;
    .crumbs {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      i.icon {
        display: block;
        margin: 14px 0;
        padding: 0 5px;
        color: $co_white;
        font-size: 7px;
        opacity: 0.35;
        transition: opacity 100ms;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
  button {
    position: absolute;
    bottom: 0;
  }
}

.non-featured {
  padding-top: $dim_feature + $dim_spacer + 40px;
}

.node {
  position: relative;
  overflow: hidden;
  p {
    margin: 0;
    padding: 0 25px;
  }
}

.node.parent {
  position: static;
  height: $dim_node;
  padding-top: 65px;
}

.node.child {
  margin-bottom: $dim_spacer;
  max-height: $dim_node;
  padding-top: 25px;
  padding-bottom: 25px;
}

.node.child.boo {
  position: relative;
}

.level-up {
  position: absolute;
  z-index: 2;
  color: $co_white;
  padding: 20px;
  font-size: 1.5em;
  line-height: 1.5em;
  left: 50%;
  transform: translateX(-50%);
  i.icon {
    opacity: 0.15;
    transition: opacity 200ms;
    padding: 1px;
    &:hover {
      opacity: 1;
    }
  }
}

.dialog {
  padding-top: 20px;
  z-index: 3;
}

.toolbar {
  margin-top: $dim_feature;
  max-width: $dim_standard;
  z-index: 2;
  height: 50px;
  line-height: 50px;
}