@import 'dimensions';

// Generic containers

.content {
  width: 100%;
  max-width: $dim_standard;
  margin: 0 auto;
}

.featured {
  height: $dim_feature;
  z-index: 1;
  overflow: hidden !important;
}

.featured.fixed + .non-featured {
  padding-top: $dim_feature + $dim_spacer;
}

.node {
  height: $dim_node;
}

.node.parent {
  margin-bottom: 100px;
  padding-top: 75px;
}

.node.child {
  p {
    margin: 0;
    padding: 25px;
  }
}

.star-wars {
  transition: margin-top 400ms ease-out;
  .node {
    transition: opacity 400ms linear;
  }
}
