@import 'dimensions';
@import 'colors';
@import 'duration';

// Generic containers

.content {
  position: relative;
  width: 100%;
  max-width: $dim_standard;
  margin: 0 auto;
}

.featured {
  height: $dim_feature;
  z-index: 1;
  overflow: hidden !important;
  .breadcrumb {
    position: relative;
    float: left;
    width: 16px;
    height: $dim_feature;
    text-align: center;
    .crumbs {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      i.icon {
        display: block;
        margin: 14px 0;
        padding: 0 5px;
        color: $co_white;
        font-size: 7px;
        opacity: 0.35;
        transition: opacity 100ms;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

.featured.fixed + .non-featured {
  padding-top: $dim_feature + $dim_spacer;
}

.node {
  height: $dim_node;
}

.node.parent {
  margin-bottom: 100px;
  padding: 65px 25px 0;
}

.node.child {
  transition: opacity 150ms linear;
  p {
    margin: 0;
    padding: 25px 35px;
  }
}

.level-up {
  position: absolute;
  z-index: 2;
  color: $co_white;
  padding: 20px;
  font-size: 1.5em;
  line-height: 1.5em;
  left: 50%;
  transform: translateX(-50%);
  i.icon {
    opacity: 0.15;
    transition: opacity 200ms;
    padding: 1px;
    &:hover {
      opacity: 1;
    }
  }
}

.star-wars {
  transition: margin-top 400ms ease-out;
  .node {
    transition: opacity 400ms linear;
  }
}

.fade-in {
  transition: opacity $dur_fade;
}
