@import 'colors';

// Headings

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1.12em;
}

h1.bbop-logo {
  position: fixed;
  top: 20px;
  left: 25px;
  font-family: 'JungleFever', sans-serif;
  color: $co_white;
  margin: 0;
  padding: 0;
  z-index: 4;
}

// Featured

.featured {
  p {
    color: $co_white;
  }
}

// Colors

.font-white {
  color: $co_white !important;
}

.font-black {
  color: $co_black !important;
}

.font-purple {
  color: $co_purple !important;
}

.font-red {
  color: $co_red !important;
}
