@import 'duration';

.pointer {
  cursor: pointer;
}

.solid {
  opacity: 1 !important;
}

.ghost {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.keep {
  opacity: 1 !important;
  z-index: 1;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.fadey {
  transition: opacity $dur_fade;
}