@import 'duration';
@import 'colors';

.pointer {
  cursor: pointer;
}

.solid {
  opacity: 1 !important;
}

.ghost {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.ghost.boo {
  opacity: 1;
  z-index: 1;
}

.keep {
  opacity: 1 !important;
  z-index: 1;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.fadey {
  transition: opacity $dur_fade;
}

.subtle {
  background-color: transparent;
  opacity: 0.3;
  transition: opacity $dur_fade;
  &:hover {
    background-color: $co_verylightgrey;
    opacity: 1;
  }
}

.small {
  font-size: 0.75em;
}