@import 'duration';
@import 'colors';

.pointer {
  cursor: pointer;
}

.solid {
  opacity: 1 !important;
}

// For when we're sliding...
.node.child.ghost:not(.boo) {
  position: absolute;
}

.ghost {
  z-index: -1;
  opacity: 0;
}

.ghost.boo {
  opacity: 1;
  z-index: 2;
}

.keep {
  opacity: 1 !important;
  z-index: 1;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.fadey {
  transition: opacity $dur_fade;
}

.subtle {
  background-color: transparent;
  opacity: 0.5;
  transition: opacity $dur_fade, background $dur_fade, color $dur_fade;
  transition-delay: $dur_fade / 2;
  &:hover {
    color: $co_black;
    background-color: $co_white;
    opacity: 1;
  }
}

.small {
  font-size: 0.75em;
}

.link {
  cursor: pointer;
  &:hover,
  &:active {
    text-decoration: underline;
  }
}

.strong {
  font-weight: 700;
}

.gradient-bottom {
  background-image: linear-gradient(rgba(255,255,255,0.0), rgba(0,0,0,0.15));
}

.heading {
  font-family: 'JungleFever', sans-serif;
  font-size: 2em;
  line-height: 3em;
}

.top {
  padding-top: 50px;
}