@import 'colors';

i.icon.reply {
  position: absolute;
  top: 20px;
  right: 0;
  z-index: 2;
  font-size: 2em;
  color: $co_white;
}

i.icon.comment-count:after {
  position: absolute;
  color: $co_white;
  content: attr(data-commentcount);
  font-size: 6px;
  left: 30px;
  padding-top: 4px;
  font-weight: 700;
}

i.icon.two-digits.comment-count:after {
  left: 28px;
}

i.icon.two-digits.three-digits.comment-count:after {
  left: 26px;
}