@import 'colors';

i.icon.reply {
  position: absolute;
  top: 20px;
  right: 0;
  z-index: 2;
  font-size: 2em;
  color: $co_white;
}

i.icon.comment-count:after {
  position: absolute;
  color: $co_white;
  content: attr(data-commentcount);
  font-size: 10px;
  left: 31px;
  padding-top: 3px;
  font-weight: 400;
}

i.icon.two-digits.comment-count:after {
  left: 29px;
}

i.icon.two-digits.three-digits.comment-count:after {
  left: 27px;
}