@import 'colors';

@mixin card() {
  background: $co_white;
  padding: 5px;
  @include border(1px);
}

@mixin border($width) {
  border-width: $width;
  border-style: solid;
  border-radius: 2px;
  border-color: rgba(0,0,0,0.15);
}