@import 'colors';

// Angular Material overrides

md-input-container {
  .md-input.jumbo {
    font-size: 1.5em;
    color: $co_black;
  }
  .md-input:not(.borders) {
    border-color: rgba(255,255,255,0) !important;
    border-width: 0 !important;
  }
  .md-input.borders {
    border-color: $co_purple !important;
  }
  .md-input[disabled] {
    background-image: none !important;
  }
  button, 
  input, 
  textarea {
    font-family: 'Hind', 'san-serif' !important;
    color: $co_black !important;
    font-weight: 400 !important;
  }
  label {
    font-family: 'Hind', 'san-serif' !important;
    color: $co_darkgrey !important;
    font-weight: 400 !important;
  }
}

md-switch {
  width: 36px;
  margin-top: 12px;
  margin-right: 25px !important;
  .md-container {
    margin-right: 0px !important;
  }
}

.layout-padding {
  padding: 16px;
}
.notifications-fab {
  .md-button.md-icon-button {
    margin: 0;
    height: auto;
    width: auto;
  }
}
