@import 'colors';

// Angular Material overrides

md-input-container {
  .md-input {
    border-color: rgba(255,255,255,0) !important;
    border-width: 0 !important;
  }
  button, input, textarea, label {
    font-family: 'Hind', 'san-serif' !important;
    color: $co_black !important;
  }
  label {
    color: $co_grey !important;
    font-weight: 400 !important;
  }
}