@import 'colors';

*, 
*:after, 
*:before { 
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box; 
}

*:focus,
*:active {
  outline: none !important;
}

// Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before, 
.clearfix:after { 
  content: " "; 
  display: table; 
}

.clearfix:after { 
  clear: both; 
}

html {
  overflow-y: scroll;
}

html, 
body {
  font-size: 16px;
  font-family: 'Hind', sans-serif;
  color: $co_black;
  background-color: $co_verylightgrey;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

/* Highlighting selections */

::selection {
  background: rgba(0,0,0,0.1); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: rgba(0,0,0,0.1); /* Gecko Browsers */
}

// https://css-tricks.com/almanac/properties/u/user-select/
body {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
  p {
    -webkit-user-select: text;  /* Chrome all / Safari all */
    -moz-user-select: text;     /* Firefox all */
    -ms-user-select: text;      /* IE 10+ */
    user-select: text;          /* Likely future */   
  }
}

