@import 'colors';

.searchbar {
  display: block;
  margin: 200px 0;
  background-color: $co_white;
    
  md-input-container {
    padding-bottom: 0;
    border-bottom: 1px solid $co_white;
    input {
      font-size: 1.5em;
      padding: 0 16px;
      line-height: 48px;
    }
  }
  
  md-list {
    padding: 0;
  }
}