@import 'colors';

.searchbar {
  display: block;
  margin: 25px 0;
  background-color: $co_white;
    
  md-input-container {
    padding-bottom: 0;
    input {
      padding: 0 16px;
      line-height: 48px;
    }
  }
  
  md-list {
    padding: 0;
  }
}