@import 'colors';

// Toast Notifications

.md-toast-success-theme {
  color: $co_white !important;
  background-color: $co_green !important;
  font-weight: 700;
  background-image: linear-gradient(rgba(255,255,255,0.0), rgba(0,0,0,0.15));
}
.md-toast-error-theme {
  color: $co_white !important;
  background-color: $co_red !important;
  font-weight: 700;
  background-image: linear-gradient(rgba(255,255,255,0.0), rgba(0,0,0,0.15));
}
