doctype html
html(lang='en', ng-app='bebop')
  head
    // link(rel='stylesheet', href='assets/style/compiled/app.css.map')
    = '\n'
  body
    = '\n'    
    div(class='main')
      div(ng-view)
    = '\n'
    //Library
    // script(src='bower_components/jquery/dist/jquery.min.js')
        
    = '\n'
    //Application
    script(src='app.js')
    = '\n'
    //Lib
    //
    = '\n'
    //Globals
    //
    = '\n'
    //Register module dependencies
    script(src='src/modules/nodes/directives/node-directive.js')
   