doctype html
html(lang='en', ng-app='bbop')
  head
    = '\n'
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Bbop!
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    = '\n'
    // Fonts
    link(href='//fonts.googleapis.com/css?family=Hind:300,500,700' rel='stylesheet' type='text/css')
    = '\n'
    // Style
    link(rel='stylesheet', href='assets/style/lib/angular-material/angular-material.min.css')
    link(rel='stylesheet', href='assets/style/bbop.min.css')
    = '\n'
    // Font Awesome
    script(src='//use.fonticons.com/c3b6848c.js')
  body(ng-controller='uiController', ng-class='getBackgroundClass()')
    = '\n'
    // Bbop Logo
    h1(class='bbop-logo pointer font-white', ng-controller='uiController', ng-click='goHome()') Bbop!
    = '\n'
    // New room
    md-button(class='bbop-action', ng-controller='authController', ng-click='goToNewRoom()')
      span(ng-if='signedIn') Make a room
      span(ng-if='!signedIn') Sign in with Twitter
    // User Avatar
    span(class='bbop-avatar pointer', ng-controller='authController', ng-if='signedIn', ng-click='goToProfile()')
      img(ng-src='{{avatarUrl}}')
      md-tooltip(md-direction='left') View/edit your profile
    = '\n'
    // Notifications
    notifications(ng-if='signedIn', md-delay='1250')
    = '\n'
    div(ng-view)
    = '\n'
    // Library
    script(src='lib.min.js')
    = '\n'
    // Application
    script(src='bbop.min.js')
    
    