doctype html
html(lang='en', ng-app='bebop')
  head
    link(rel='stylesheet', href='assets/style/compiled/bebop.css')
    = '\n'
  body
    = '\n'    
    div(class='main')
      div(ng-view)
    = '\n'
    //Library
    script(src='bower_components/angular/angular.js')
    script(src='bower_components/angular-route/angular-route.js')
    = '\n'
    //Application
    script(src='app.js')
    = '\n'
    //Globals
    //
    = '\n'
    //Register module dependencies
    script(src='modules/dependencies.js')
    script(src='modules/nodes/directives/node-directive.js')