doctype html
html(lang='en', ng-app='birdyard', ng-class='{"noscroll": freeze}')
  head
    base(href='/')
    = '\n'
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Birdyard - {{pageTitle}}
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    = '\n'
    // Fonts
    link(href='//fonts.googleapis.com/css?family=Hind:300,500,700' rel='stylesheet' type='text/css')
    = '\n'
    // Style
    link(rel='stylesheet', href='assets/style/lib/angular-material/angular-material.min.css')
    link(rel='stylesheet', href='assets/style/birdyard.min.css')
    = '\n'
    // Favicon
    link(rel='icon' type='image/x-icon' href='assets/images/favicon.ico?v=2')
    = '\n'
  body(ng-controller='uiController', ng-class='getBackgroundClass()')
    = '\n'
    // Birdyard Logo
    // div(class='container-logo pointer')
    //   img(src='assets/images/logo.svg', ng-controller='uiController', ng-click='goHome()', alt='birdyard')
    = '\n'
    // Menu
    menu
    = '\n'
    // Notifications
    notifications(ng-if='signedIn', md-delay='1250')
    = '\n'
    // Click-anywhere to do (something)
    click-anywhere(action='backdropClick', active='backdropActive', z='backdropZIndex')
    = '\n'
    div(ng-view)
    = '\n'
    // Library
    script(src='lib.min.js')
    = '\n'
    // Application
    script(src='birdyard.min.js')
    // Google Analytics
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-73095863-1', 'auto');
      ga('send', 'pageview');
    
    