<div class="content user-profile top ghost fadey" ng-class="{'boo': loaded}">
  
  <div layout="row" layout-align="start end">
    <div class="heading font-black" style="padding-left: 16px;" flex="grow">{{user.name}}'s Profile</div>
    <md-button flex="none" ng-if="editable" ng-click="signOutUser()">Sign Out</md-button>
  </div>
  
  <div class="bg-white shadow-flat">
    
    <md-content layout-padding class="autoScroll">
      
      <div layout="row" layout-align="start start">
        
        <!-- Display Name -->
        <md-input-container flex="grow" class="md-block">
          <label>Display Name</label>
          <input class="jumbo" ng-model="user.name" type="text" ng-class="{'borders': editable}" ng-disabled="!editable" maxlength="50">
        </md-input-container>
        
        <div flex="none" class="border-accent-avatar birdyard-avatar-lg pointer" ng-style="{'border-color': user.accent}" ng-click="showLightbox = !showLightbox">
          <img ng-src='{{user.avatar}}' />
        </div>         
          
      </div>
      
      <!-- Say something about yourself -->
      <md-input-container flex="grow" class="md-block" ng-if="editable || user.description">
        <label ng-if="editable || (!editable && user.description)">Say something brief about yourself</label>
        <input ng-model="user.description" type="text" ng-class="{'borders': editable}" ng-disabled="!editable" maxlength="50" aria-label="Say something brief about yourself">
      </md-input-container>

      <div layout="row" layout-align="start end" layout-wrap>
        
        <!-- Twitter Handle -->
        <md-input-container flex="20" class="md-block" ng-if="editable || user.social">
          <label>Twitter Handle</label>
          <input ng-model="user.handle" type="text" disabled>
        </md-input-container>
        
        <md-input-container flex="80" class="md-block" ng-if="editable">
          <md-checkbox ng-model="user.social">
            Make public?
          </md-checkbox>
        </md-input-container>
        
      </div>
      
      <!-- Accent Color -->
      <md-input-container class="md-block" ng-if="editable" style="width: 200px">
        <label>Accent Color</label>
        <md-select ng-model="user.accent" ng-style="{'background-color': user.accent}">
          <md-option ng-repeat="color in accentColors" value="{{color}}" ng-style="{'background-color': color}">
          </md-option>
        </md-select>
      </md-input-container>

      <div layout="row" layout-align="start center" ng-if="editable">
        <md-button ng-disabled="!modified" ng-click="saveUser()">Save Changes</md-button>
      </div>
      
    </md-content>
    
  </div>
  
  <!--<div layout="row" class="ghost fadey" ng-class="{'boo': loaded}" layout-align="end center" ng-if="editable">
    <md-button class="md-warn" ng-click="killUser()">Delete Account?</md-button>
  </div>  -->
  
</div>

<lightbox imgurl="{{user.avatar_lg}}" show-if="showLightbox"></lightbox>