<!-- Main Content Container -->
<div layout="row">
  
  <div layout="row" class="featured bg-purple fixed">
    <div id="star-wars" layout="row" class="content">
      <div layout="row" class="node parent">
        <p>
          This is a statement about a thing. You can agree or disagree, but I really don't care either way. Rocky 3 was a bad Rocky. People think it was cool because of Mister T, but the fact is that it was poorly executed and doesn't stand up to the other editions.
        </p>
      </div>
      
      <div layout="row" class="node parent">
        <p>
          This is a song that doesn't end... it just goes on and on, my frieeeennnddd!!!! Some people, started and singin' and not knownin' what it WAS!!!! AND BLAH BE BLAH BLAH BLAHHHHH!
        </p>
      </div>
    </div>
  </div>
  
  <div layout="row" class="non-featured content">
    <div layout="row" class="node child bg-grey">
      <p>This is a song that doesn't end... it just goes on and on, my frieeeennnddd!!!! Some people, started and singin' and not knownin' what it WAS!!!! AND BLAH BE BLAH BLAH BLAHHHHH!</p>
    </div>
    <div layout="row" class="node child bg-grey">
    </div>
    <div layout="row" class="node child bg-grey">
    </div>
    <div layout="row" class="node child bg-grey">
    </div>
    <div layout="row" class="node child bg-grey">
    </div>
    <div layout="row" class="node child bg-grey">
    </div>
    <div layout="row" class="node child bg-grey">
    </div>
    <div layout="row" class="node child bg-grey">
    </div>
  </div>
    
</div>