<!-- Main Content Container -->
<div>
  
  <div class="featured bg-white fixed dialog fadey flat-shadow" ng-class="{ghost: !showDialog}">
    
    <!-- Add some content! -->
    <!--<i id="pencil" class="icon icon-times-circle pointer float-right"></i>-->
    <div class="content">
      <md-content> 
        <md-input-container class="md-block">
          <label>Reply to {{node.displayName}}...</label>       
          <textarea id="text-input" shift-enter="pushText()" escape="toggleDialog()" ng-model="text"></textarea>
        </md-input-container>
      </md-content>
      
      <!--<md-button class="float-right">Submit</md-button>
      <md-button class="float-right">Cancel</md-button>-->
    </div>
  </div>
  
  <div class="featured bg-purple fixed flat-shadow">
    
    <div class="content">
      
      <!-- Add some content! -->
      <i id="pencil" class="icon icon-pencil-square pointer float-right reply fadey ghost" ng-click="toggleDialog()" ng-class="{'boo': loaded}"></i>     
            
      <!-- Go up one level -->
      <div layout="column" class="level-up fadey ghost" ng-show="node.breadcrumb.length > 1" ng-class="{'boo': loaded}">
        <i class="icon icon-chevron-circle-up pointer" ng-click="goUp()"></i>
      </div>
      
      <!-- Breadcrumb trail -->
      <div layout="column" class="breadcrumb fadey ghost" ng-show="node.breadcrumb.length > 1" ng-class="{'boo': loaded}">
        <div class="crumbs">
          <i class="icon" ng-class="nodeId != node.id ? 'icon-circle-thin pointer' : 'icon-circle solid'" ng-repeat="nodeId in node.breadcrumb" ng-click="goToNode(nodeId)"></i>
        </div>
      </div>
      
      <div class="star-wars">
        <!-- Currently displayed node -->
        <div class="node parent">
          
          <div class="node-title">
            <span class="displayName">{{node.displayName}}</span> 
            <span class="handle small">@{{node.handle}}</span>
          </div>
          
          <div class="node-text">
            <show-more action="expandNode" text="node.text" limit="charLimit"></show-more>
          </div>
        </div>
        <!-- Holding area for to-be-displayed node -->
        <div class="node parent">
          
          <div class="node-title">
            <span class="displayName">{{selected.displayName}}</span> 
            <span class="handle small">@{{selected.handle}}</span>
          </div>

          <div class="node-text">
            <show-more action="expandNode" text="selected.text" limit="charLimit"></show-more>
          </div>
        </div>
      </div>
      
    </div>
    
  </div>
  
  <div class="toolbar subtle fixed">
    <div class="content" layout="row" layout-align="end center">
      <span class="font-purple">Autoscroll?</span>
      <md-switch ng-model="autoScroll" aria-label="Autoscroll?"></md-switch>
    </div>
  </div>
  
  <div layout="column" class="non-featured content">

    <div id="{{child.id}}" class="node child fadey ghost" ng-class="{'boo': loaded}" ng-repeat="child in children">
      
      <div class="node-title">
        <span class="displayName">{{child.displayName}}</span> 
        <span class="handle small">@{{child.handle}}</span>
        <i class="icon icon-star-o pointer" ng-class="{ghost: !loaded}"></i>
      </div>
      
      <div class="node-text">
        <show-more action="expandNode" text="child.text" limit="charLimit"></show-more>
      </div>
      
      <div class="node-actions">
        <span class="pointer" ng-click="selectChild(child)" ng-class="{ghost: !loaded}">
          <i class="icon icon-comment comment-count" ng-class="{'one-digit': (child.commentCount > 0), 'two-digits': (child.commentCount > 9), 'three-digits': (child.commentCount > 99)}" data-commentcount="{{child.commentCount}}"></i>
          <span class="small link"> comment<span ng-hide="child.commentCount == 1">s</span></span>
        </span>        
      </div>
    </div>

  </div>
    
</div>