<!-- Main Content Container -->
<div>
  
  <div class="featured bg-white fixed dialog fadey shadow-soft" ng-class="{ghost: !showDialog}">
    
    <div class="content" ng-show="signedIn">
      
      <markdown-icon class="markdown-reply"></markdown-icon>
      
      <!-- Add some content! -->
      <i id="close" class="icon fa fa-times-circle pointer float-right reply" ng-click="toggleDialog()"></i> 
      
      <md-content class="padding-top"> 
        <md-input-container class="md-block">
          <label>Reply to {{node.name}}...</label>       
          <textarea id="text-input" shift-enter="pushText()" escape="toggleDialog()" ng-model="text"></textarea>
        </md-input-container>
      </md-content>

    </div>
    
    <auth-user ng-show="!signedIn"></auth-user>
    
  </div>
  
  <div class="featured bg-purple fixed shadow-flat">
    
    <div class="truncate-featured top fadey ghost" ng-class="{'boo': loaded && !expand}"></div>
    <div class="truncate-featured fadey ghost" ng-class="{'boo': loaded && !expand}"></div>

    <div class="content">
      
      <!-- Add some content! -->
      <i id="pencil" class="icon fa fa-pencil-square pointer float-right reply fadey ghost" ng-click="toggleDialog()" ng-class="{'boo': loaded}">
        <md-tooltip md-direction="left" md-delay="1250">Reply to {{node.name}}</md-tooltip>
      </i>     
            
      <!-- Go up one level -->
      <div layout="column" class="level-up fadey ghost" ng-show="node.breadcrumb.length > 1" ng-class="{'boo': loaded}">
        <i class="icon fa fa-chevron-circle-up pointer" ng-click="goUp()"></i>
      </div>
      
      <!-- Breadcrumb trail -->
      <div layout="column" class="breadcrumb fadey ghost" ng-show="node.breadcrumb.length > 1" ng-class="{'boo': loaded}">
        <div class="crumbs">
          <i class="icon" ng-class="nodeId != node.id ? 'fa fa-circle-o pointer' : 'fa fa-circle solid'" ng-repeat="nodeId in node.breadcrumb" ng-click="goToNode(nodeId)"></i>
        </div>
      </div>
      
      <div class="star-wars">
        
        <!-- Currently displayed node -->
        <div id="featured" class="node parent padding-top" show-more="expandFeature()" loaded="{{loaded}}" ng-class="{'scroll': expand}">
          
          <div class="node-title">
            <span class="displayName">{{node.name}}</span> 
            <!--<span class="handle small">{{node.handle}}</span>-->
          </div>
          
          <div class="node-text">
            <p btf-markdown="node.text" thumbnail></p>
          </div>
        </div>
        
        <!-- Holding area for to-be-displayed node -->
        <div ng-if="selected.text" class="node parent padding-top">
          
          <div class="node-title">
            <span class="displayName">{{selected.name}}</span> 
            <span class="handle small">{{selected.handle}}</span>
          </div>

          <div class="node-text">
            <p btf-markdown="selected.text" thumbnail></p>
          </div>
        </div>
      </div>
      
    </div>
    
  </div>
  
  <!-- Toolbar -->
  <div class="toolbar fixed subtle">
    <div layout="row" class="content fadey ghost" ng-class="{'boo': loaded}">
      
        <span flex="grow" style="padding-left: 25px;">{{node.commentCount}} comment<span ng-hide="node.commentCount == 1">s</span></span>
        <span>
          <md-tooltip md-direction="left" md-delay="1250">
            Toggle autoscroll
          </md-tooltip>
          <md-switch flex="none" ng-model="autoScroll" aria-label="autoscroll"></md-switch>
        </span>
        
      
    </div>
  </div>
  
  <div layout="column" class="non-featured content">

     <!-- Progress indicator for initial load -->
    <div class="loading" ng-show="!loaded">
      <md-progress-circular class="md-progress-default" md-mode='indeterminate' md-diameter="20"></md-progress-circular>
    </div>
    
    <div id="{{child.id}}" class="node child fadey ghost" ng-class="{'boo': loaded}" ng-repeat="child in $children">
      
      <div class="node-avatar">
        <avatar uid="child.uid"></avatar>
      </div>
      
      <div class="node-title">
        <span class="displayName">{{child.name}}</span> 
        <!--<span class="handle small">{{child.handle}}</span>-->
        <!--<i class="icon fa fa-star-o pointer" ng-class="{ghost: !loaded}">
          <md-tooltip md-delay="1250">
            Favorite
          </md-tooltip>
        </i>-->
      </div>
      
      <div class="node-text">
        <p btf-markdown="child.text" thumbnail></p>
      </div>
      
      <div class="node-actions">
        <span class="pointer" ng-click="selectChild(child)" ng-class="{ghost: !loaded}" ng-mouseenter="pauseAutoScroll(true)" ng-mouseleave="pauseAutoScroll(false)">
          <i class="icon fa fa-comment comment-count" ng-class="{'one-digit': (child.commentCount > 0), 'two-digits': (child.commentCount > 9), 'three-digits': (child.commentCount > 99)}" data-commentcount="{{child.commentCount}}"></i>
          <span class="small link"> comment<span ng-hide="child.commentCount == 1">s</span></span>
        </span>        
      </div>
    </div>

  </div>
    
</div>
