<div id="{{node.id}}">
      
  <div class="node-avatar" ng-click="goToProfile(node.uid)">
    <avatar uid="node.uid"></avatar>
  </div>
  
  <div class="node-title" ng-class="{'active': hoverTitle || favd}" ng-mouseover="hoverTitle = true" ng-mouseleave="hoverTitle = false">
    <span class="displayName pointer" ng-click="goToProfile(node.uid)">{{node.name}}</span>
    <span class="node-action">
      <span class="pill-mini" ng-click="fav()" ng-class="{'bg-verylightgrey': !favd}">
        <i class="fa fa-star pointer" ng-class="{'co-seethrough': favd}"></i> <span><strong>{{favCount}}</strong></span>
      </span>
    </span>
    <span class="float-right node-timestamp">
      <span ng-if="node.edited">Edited</span> 
      <span my-time="{{node.timestamp}}"></span>
    </span>
  </div>
      
  <div class="node-text">
    <p btf-markdown="node.text" thumbnail></p>
  </div>
      
  <div class="node-actions">
    <div style="position: relative; float: left;">
      <!-- Comments -->
      <span class="pill pointer" ng-click="select(node)" ng-mouseenter="pause(true)" ng-mouseleave="pause(false)">
        <span>{{node.commentCount}}</span> comment<span ng-hide="node.commentCount == 1">s</span>
      </span>
      </div>
    <div>
      <!--Reply -->
      <span class="pill pointer bg-verylightgrey hover-green" ng-click="replyTo(node)" ng-mouseenter="pause(true)" ng-mouseleave="pause(false)">
        <i class="icon fa fa-reply"></i> Reply
      </span>
      <!-- Copy link -->
      <span class="pill pointer bg-verylightgrey hover-purple clipboard" data-clipboard-text="{{linkToNode}}" ngclipboard ngclipboard-success="clipboardSuccess()" ng-mouseenter="pause(true)" ng-mouseleave="pause(false)">
        <i class="icon fa fa-link"></i> Copy Link
      </span>
      <!-- Flag -->
      <span class="pill pointer bg-verylightgrey hover-red" ng-click="confirmReport($event)" ng-mouseenter="pause(true)" ng-mouseleave="pause(false)">
        <i class="icon fa fa-bullhorn"></i> Report
      </span>
    </div>
  </div>
</div>