<div class="container-formatting_toolbar">
  
  <div class="icon-reply-container">
    <i class="icon fa fa-header pointer" ng-click="headerIconClicked = !headerIconClicked"></i>
    <i class="icon fa fa-bold pointer" ng-click="insertFormatting('bold')"></i>
    <i class="icon fa fa-italic pointer" ng-click="insertFormatting('italic')"></i>
    <i class="icon fa fa-indent pointer" ng-click="insertFormatting('blockquote')"></i>
    <i class="icon fa fa-image pointer" ng-click="insertMedia()"></i>
    <i class="icon fa fa-link pointer" ng-click="linkIconClicked = !linkIconClicked"></i>
        
    <div id="reply-headers" class="icon-reply-menu" ng-show="headerIconClicked">
      <div class="icon-reply-menu-item" ng-click="insertFormatting('header1')">H1</div>
      <div class="icon-reply-menu-item" ng-click="insertFormatting('header2')">H2</div>
      <div class="icon-reply-menu-item" ng-click="insertFormatting('header3')">H3</div>
      <div class="icon-reply-menu-item" ng-click="insertFormatting('header4')">H4</div>
      <div class="icon-reply-menu-item" ng-click="insertFormatting('header5')">H5</div>
    </div>
        
    <div id="reply-recentLinks" class="icon-reply-menu" ng-show="linkIconClicked && recentNodes.length > 0">
      <div class="icon-reply-menu-header">Recent Comments</div>
      <div class="icon-reply-menu-nodes hoverscroll">
        <div ng-repeat="node in recentNodes" class="icon-reply-menu-item" ng-click="insertNodeLink(node)">
          <span class="strong">{{node.name}} said:</span> <span markdown-filter>{{node.text}}</span>
        </div>
      </div>
    </div>
  </div>
</div>