<div class="content top fadey ghost" ng-class="{'boo': loaded}">
  
  <div class="heading">Start a new Conversation</div>
  
  <md-input-container class="md-block">
    <label style="display: none;"></label>
    <input class="borders massive" ng-model="room.title" type="text" placeholder="{{titlePlaceholder}}" ng-minlength="1" ng-maxlength="100" ng-required="true">
  </md-input-container>
  
  <div class="container-choosecategory">
    
    <label ng-switch="categoryValid">
      <span ng-switch-when="true">Choose a category</span>
      <span ng-switch-when="false">Seriously, please choose a category.</span>
    </label>
    
    <div>
      <span class="pill bg-red" ng-class="{'disabled': categoryChosen && room.category !== 1}" ng-click="chooseCategory(1)">News</span>
      <span class="pill bg-green" ng-class="{'disabled': categoryChosen && room.category !== 2}" ng-click="chooseCategory(2)">Entertainment</span>
      <span class="pill bg-orange" ng-class="{'disabled': categoryChosen && room.category !== 3}" ng-click="chooseCategory(3)">Sports</span>
      <span class="pill bg-blue" ng-class="{'disabled': categoryChosen && room.category !== 4}" ng-click="chooseCategory(4)">Games</span>
      <span class="pill bg-purple" ng-class="{'disabled': categoryChosen && room.category !== 5}" ng-click="chooseCategory(5)">Whatever</span>
    </div>
  </div>
  
  <div class="bg-white shadow-flat">
    
    <md-content layout-padding class="autoScroll" style="overflow: visible;">

      <md-input-container class="md-block">
        
        <div class="container-newroom-toolbar">
          <formatting-toolbar target="room.text" targetid="newroom-comment"></formatting-toolbar>
        </div>
        
        <label></label>
        <textarea id="newroom-comment" class="container-newroom massive" ng-model="room.text" placeholder="{{textPlaceholder}}"  ng-minlength="1" ng-maxlength="1000" ng-required="true"></textarea>
      </md-input-container>
      
      <div layout="row" layout-align="end center">
        <md-button class="birdyard-btn" ng-click="newRoom()">LET'S GO</md-button>
      </div>
    </md-content>
  </div>
</div>