<div class="jumbotron shadow-flat-lg" ng-class="categoryColor()">
  
  <div class="content stretch-y">
    
    <h1 layout="row" layout-align="center center" class="rooms-header">
      
      <div>Talk about</div>
      
      <md-input-container>
        <md-select ng-model="category" selected="selected" aria-label="Select a category">
          <md-option ng-value="0" ng-selected="category == 0">Everything</md-option>
          <md-option ng-value="1" ng-selected="category == 1">News</md-option>
          <md-option ng-value="2" ng-selected="category == 2">Entertainment</md-option>
          <md-option ng-value="3" ng-selected="category == 3">Sports</md-option>
          <md-option ng-value="4" ng-selected="category == 4">Games</md-option>
          <md-option ng-value="5" ng-selected="category == 5">Whatever</md-option>
        </md-select>
      </md-input-container>

    </h1>
    
    <h2 layout="row" layout-align="center center" class="rooms-subheader">
      There are 7,642 people talking about {{categoryReadable(category)}} right now. Join in?
    </h2>
    
    <div class="searchbar-placeholder">
      <i class="icon fa fa-search"></i> <span>Click here to search for {{categoryReadable(category)}}...</span>
    </div>

  </div>
  
  <search-bar category="{{category}}"></search-bar>
  
</div>

<div class="content roomlist">
  
  <!-- Progress indicator for initial load -->
  <div class="loading" ng-show="!loaded">
    <md-progress-circular class="md-progress-default" md-mode='indeterminate' md-diameter="20"></md-progress-circular>
  </div>
  
  <div class="fadey ghost" ng-class="{'boo': loaded}">
    <div ng-repeat="room in rooms">
      <div class="container-room pointer shadow-flat">
        <div class="room-content">
          <div class="room-title">
            {{room.title}}
          </div>
          <div class="room-name">
            Created by <strong>{{room.name}}</strong> <span my-time="{{room.timestamp}}" from-now="true"></span>
          </div>
          <div class="room-footer">
            <span class="pill" ng-click="enterRoom(room.nodeId)">904 comments</span>
            <span class="pill" ng-click="changeCategory(room.category)" ng-class="categoryColor(room.category)">{{categoryReadable(room.category)}}</span>
          </div>
        </div>
        <div class="room-enter pointer" ng-click="enterRoom(room.nodeId)">
          <i class="icon fa fa-arrow-right"></i>
        </div>
      </div>
    </div>
    
    <!-- Progress indicator for loading more rooms -->
    <div class="loading" ng-show="loading" style="margin-top: 30px;">
      <md-progress-circular class="md-progress-default" md-mode='indeterminate' md-diameter="20"></md-progress-circular>
    </div>
    
    <!-- Show More -->
    <div ng-show="rooms.scroll.hasNext() && !loading">
      <div class="load-more gradient" ng-click="loadMore(roomsToLoad)">
        <div>
          <span>Load More?</span>
        </div>
      </div>
    </div>
    
  </div>
  
</div>