<div class="jumbotron gradient">
  <div class="content">
    <search-bar></search-bar>
  </div>
</div>

<div class="content roomlist">
  
  <div class="fadey ghost" ng-class="{'boo': loaded}">
    <div ng-repeat="room in rooms">
      <div class="room bg-white shadow-flat">
        {{room.title}} <a ng-href="#/n/{{room.nodeId}}">Go</a>
      </div>
    </div>
    <div ng-show="rooms.scroll.hasNext()">
      <button ng-click="loadMore(50)">Load more</button>
    </div>
  </div>
</div>